ion-content {
    --background: #ffffff;
  }

.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .avatar-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 120px;
    height: 120px;
    border: 4px solid #FFC700;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .user-info {
    margin-bottom: 20px;
    font-size: 16px;
    color: #003366;
    line-height: 1.5;
  }
  
  .user-info h2 {
    margin: 10px 0;
    font-weight: bold;
    color: #003366;
    line-height: 1.4;
  }
  
  .user-info p {
    margin: 5px 0;
    line-height: 1.6;
  }

  .volver-button {
    margin-top: 20px;
    border-radius: 25px !important;
    --background: #003366;
    --color: #FFC700;
  }

  ion-button.volver-button::part(native) {
    border-radius: 25px !important;
  }
  
  .logo-container {
    margin-top: 10px;
  }
  
  .logo-container img {
    max-width: 200px;
    width: 100%;
    height: auto;
  }

  .profile-logo {
    display: block;
    margin: 0 auto; 
    max-width: 225px; 
    height: auto; 
    
  }

  ion-header {
    background-color: #012e55;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
  }