<ion-header>
  <img src="assets/duocuchl.jpeg" alt="Logo" class="home-logo" />
</ion-header>

<ion-content class="ion-padding">
  <div class="center-content">
    
    <div class="welcome-message">Bienvenido, {{ nombre }}!</div>

    <div *ngIf="weatherData" class="weather-info">
      <h2>Clima en {{ city }}</h2>
      <p><strong>Temperatura:</strong> {{ weatherData.main.temp }} °C</p>
      <p><strong>Descripción:</strong> {{ weatherData.weather[0].description }}</p>
      <p><strong>Humedad:</strong> {{ weatherData.main.humidity }}%</p>
      <p><strong>Viento:</strong> {{ weatherData.wind.speed }} m/s</p>
    </div>

    <div class="button-grid">
      <ion-button class="grid-button" (click)="navigateWithLoading('/perfil')">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        Perfil
      </ion-button>
      
      <ion-button class="grid-button" (click)="navigateWithLoading('/asistencia')">
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        Asistencia
      </ion-button>
      
      <ion-button class="grid-button" (click)="navigateWithLoading('/qr-scanner')">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Escanear QR
      </ion-button>
      
      <ion-button class="grid-button" color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Salir
      </ion-button>
    </div>

  </div>
</ion-content>